# ====================================================================
# MASTER BLOCK PROTOCOL FOR USER BINARIES (~/.local/bin)
# ====================================================================

# Step 1: Block absolutely everything in this directory by default
*

# Step 2: Whitelist this rules file so security tracking stays active
!.gitignore
!style.css
!index.html
!CNAME

# do not ignore dir / check files in dir
# !*/
# !<filename>

# ====================================================================
# EXPLICIT OVERRIDES (Add exemptions below if needed)
# ====================================================================
# If there is ever a completely public, generic script you want to track
# in GitHub, un-comment the line below and replace 'scriptname':
# !scriptname
